@use 'sass:math';

@import './variables/_variables_dir';
@import './mixins/_mixins_dir';
@import './components/_components_dir';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s;
}

html {
  font-size: 62.5%;

}

body {
  width: 100%;
  background: $bg-color;

}

main {
  position: relative;
  max-width: $viewport-max;
  height: 100vh;
  @extend %x-center;
  @extend %overflow-hidden;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

p {
  max-width: 40ch;
}
