main {
  position: relative;
  top: 0;
  margin: 0 auto;
}

.page.top.right {
  position: absolute;
  top: 0;
  right: 0;
}

.page.bottom.left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.page.bottom.right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.page {
  width: 50%;
  height: 50%;
  position: relative;
  text-align: center;
}

.page-label {
  color: #222;
  font-size: clamp(3.2rem, 1.366vw + 2.756rem, 4.8rem);
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  opacity: 1;
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-option-label {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #222;
  padding: max(2.4rem, 5vw) max(2.4rem, 5vw);
  cursor: pointer;
}
.active.menu-option-label {
  text-decoration: underline;
}

.menu-section h2, .menu-section h1 {
  font-family: "IM Fell Great Primer", serif;
  margin-bottom: 1em;
}

.menu-item-desc, .menu-item-price, .menu-subtitle, .menu-subheader, .menu-item h3, .menu-section h2, .menu-section h1 {
  text-align: center;
}

.sake-label, .sake-slash, .menu-item-desc, .menu-item-price, .menu-subtitle, .menu-subheader, .menu-item h3, .section-description {
  font-family: "IM Fell Great Primer", serif;
  font-size: 1.6rem;
}

.menu-subheader {
  font-weight: 700;
  margin-top: -1em;
  margin-bottom: 2rem;
}
.h1.menu-subheader {
  margin-top: -2em;
}

.page.bottom.right:hover > span.hover-effect, .page.bottom.left:hover > span.hover-effect, .page.top.right:hover > span.hover-effect, .page.top.left:hover > span.hover-effect {
  background: #222;
  color: #eee;
}

.page.bottom.right.active, .page.bottom.left.active, .page.top.right.active, .page.top.left.active {
  width: 100%;
  height: 100%;
}
.page.bottom.right.active > span, .page.bottom.left.active > span, .page.top.right.active > span, .page.top.left.active > span {
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#menu.hidden, #menu-options.hidden, .page.bottom.right.inactive, .page.bottom.left.inactive, .page.top.right.inactive, .page.top.left.inactive {
  pointer-events: none;
  opacity: 0;
}

main.of-hidden {
  overflow: hidden;
}

.logo {
  background: #222;
  width: clamp(16rem, 11.96vw + 12.114rem, 30rem);
  position: absolute;
  z-index: 3;
  transform: translateX(calc(min(50vw, 74.8rem) - clamp(16rem, 11.96vw + 12.114rem, 30rem)/2)) translateY(calc(50vh - clamp(16rem, 11.96vw + 12.114rem, 30rem)/2 * 0.52));
}

.logo.page-view {
  transform: scaleX(0.75) scaleY(0.75);
}

.pages {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.fade-up > span {
  transform: translate(-50%, -300%);
}

.fade-down > span {
  transform: translate(-50%, 200%);
}

.fade-left > span {
  transform: translate(-300%, -50%);
}

.fade-right > span {
  transform: translate(200%, -50%);
}

.fade-up.fade-left > span {
  transform: translate(-300%, -300%) !important;
}

.fade-up.fade-right > span {
  transform: translate(200%, -300%) !important;
}

.fade-down.fade-left > span {
  transform: translate(-300%, 200%) !important;
}

.fade-down.fade-right > span {
  transform: translate(200%, 200%) !important;
}

#menu-options {
  width: 90%;
  margin: 1.6rem 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 30vh;
}

#menu-options.hidden {
  transform: translateX(400%);
}

#menu {
  position: absolute;
  height: auto;
  left: 0;
  top: max(20rem, 40vh);
  left: 5%;
  gap: 4rem;
  width: 90%;
  overflow: hidden;
}

#menu.hidden {
  transform: translateY(5rem);
}

.menu-section {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-section.active {
  opacity: 1;
  transform: translateY(0);
}

.menu-section.inactive {
  opacity: 0;
  transform: translateY(5rem);
}

.menu-content {
  border: 0.2rem solid #222;
  padding: calc(max(2.4rem, 5vw) - 0.2rem) calc(max(2.4rem, 5vw) - 0.2rem);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

.section-description {
  margin-bottom: 3.2rem;
}

.menu-subsection {
  margin-bottom: 3.2rem;
}

.menu-item {
  margin-bottom: 3em;
}

.menu-section h1 {
  font-size: 3.2rem;
}

.menu-section h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.menu-item h3 {
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-item-price {
  margin-bottom: 0.5em;
}

.close {
  color: red;
  font-size: 6.4rem;
  font-family: "Dokdo", cursive;
  font-weight: 400;
  position: absolute;
  top: 2vw;
  right: 5vw;
  z-index: 3;
  opacity: 1;
  cursor: pointer;
}

.close.hidden {
  opacity: 0;
}

.sake-subheader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto 2rem;
  gap: 2ch;
  max-width: 23rem;
}

.sake-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.4s;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #fff;
}

main {
  position: relative;
  max-width: 149.6rem;
  height: 100vh;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
