main {
  position: relative;
  top: 0;
  margin: 0 auto;
}

.page {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

.page-label {
  color: #222;
  font-size: 4.8rem;
  font-weight: 200;
  font-family: "Oswald", sans-serif;
  opacity: 1;
  pointer-events: none;
  z-index: 3;
}

.close:hover, .page.bottom.right:hover ~ .labels .page-label.bottom.right, .page.bottom.left:hover ~ .labels .page-label.bottom.left, .page.top.right:hover ~ .labels .page-label.top.right, .page.top.left:hover ~ .labels .page-label.top.left {
  cursor: pointer;
  transform: scaleX(1.1) scaleY(1.1);
}

.page.bottom.right.active, .page.bottom.left.active, .page.top.right.active, .page.top.left.active {
  z-index: 0;
  grid-column: 1/-1;
  grid-row: 1/span 999;
}

.labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50vh 50vh;
  justify-items: center;
  align-items: center;
}

.logo {
  background: #222;
  width: clamp(16rem, 11.96vw + 12.114rem, 30rem);
  position: absolute;
  z-index: 3;
  transform: translateX(calc(min(50vw, 74.8rem) - clamp(16rem, 11.96vw + 12.114rem, 30rem)/2)) translateY(calc(50vh - clamp(16rem, 11.96vw + 12.114rem, 30rem)/2 * 0.52));
}

.logo.page-view {
  background: #eee;
  transform: scaleX(0.75) scaleY(0.75);
}

.pages {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page.top.left.active ~ .labels > .page-label.top.right,
.page.top.left.active ~ .labels > .page-label.bottom.right {
  transform: translateX(100%);
  opacity: 0;
}

.page.top.left.active ~ .labels > .page-label.bottom.left {
  transform: translateY(100%);
  opacity: 0;
}

.page.top.right.active ~ .labels > .page-label.top.left,
.page.top.right.active ~ .labels > .page-label.bottom.left {
  transform: translateX(-100%);
  opacity: 0;
}

.page.top.right.active ~ .labels > .page-label.bottom.right {
  transform: translateY(100%);
  opacity: 0;
}

.page.bottom.left.active ~ .labels > .page-label.top.left,
.page.bottom.left.active ~ .labels > .page-label.top.right {
  transform: translateY(-100%);
  opacity: 0;
}

.page.bottom.left.active ~ .labels > .page-label.bottom.right {
  transform: translateX(100%);
  opacity: 0;
}

.page.bottom.right.active ~ .labels > .page-label.top.left,
.page.bottom.right.active ~ .labels > .page-label.bottom.left {
  transform: translateX(-100%);
  opacity: 0;
}

.page.bottom.right.active ~ .labels > .page-label.top.right {
  transform: translateY(-100%);
  opacity: 0;
}

.page.top.left:hover ~ .labels .page-label.top.left {
  background: red;
}

.page.top.right:hover ~ .labels .page-label.top.right {
  background: red;
}

.page.bottom.left:hover ~ .labels .page-label.bottom.left {
  background: red;
}

.page.bottom.right:hover ~ .labels .page-label.bottom.right {
  background: red;
}

.close {
  color: red;
  font-size: 6.4rem;
  font-family: "Dokdo", cursive;
  font-weight: 400;
  position: absolute;
  top: 2vw;
  right: 5vw;
  z-index: 3;
  opacity: 1;
}

.close.hidden {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.25s;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background: #eee;
}

main {
  position: relative;
  max-width: 149.6rem;
  min-height: 100vh;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
