$logo-width: clamp(16rem, 11.96vw + 12.114rem, 30rem);
$logo-aspect-ratio: .52;

$viewport-max: 149.6rem;
$viewport-min: 32.5rem;
$viewport-min-height: 37.5rem;

$page-label-size: clamp(3.2rem, 1.366vw + 2.756rem,4.8rem);

$menu-border-width: .2rem;
$menu-padding-height: max(2.4rem, 5vw);
$menu-padding-width: max(2.4rem, 5vw);

$sake-subheader-max-width: 23rem;