$fs-400: 6.4rem;
$fs-300: 2.4rem;
$fs-200: 1.6rem;

$fs-menu-h1: $fs-400;
$fs-menu-h2: 4.8rem;
$fs-menu-h3: $fs-300;
$fs-menu-p: $fs-200;

$ff-headings: 'Oswald', sans-serif;
$ff-cross: 'Dokdo', cursive;
$ff-menu: 'IM Fell Great Primer', serif;