---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dokdo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="../js/page-open-handler.js"></script>
		<title>Benemon</title>
	</head>
	<body>
    <main>
      <div class="logo"><img src="images/logo.png" alt="logo"></div>
      <div class="close hidden">X</div>
      <div class="pages">
        <div class="page top left"><span class='page-title'>ABOUT</span></div>
        <div class="page top right"><span class='page-title'>MENU</span></div>
        <div class="page bottom left"><span class='page-title'>LOCATION</span></div>
        <div class="page bottom right"><span class='page-title'>CONTACT</span></div>
      </div>
    </main>
	</body>
</html>
