---

---

<ul id="menu-options" class="hidden">
  <li class="menu-option">
    <a class="menu-option-label active">starters</a>
  </li>
  <li class="menu-option">
    <a class="menu-option-label">mains</a>
  </li>
  <li class="menu-option">
    <a class="menu-option-label">drinks</a>
  </li>
</ul>