---

---
<div id="menu" class="hidden">
  <section id="dinner">
    <div class="content active">
      <h1>Small Plates</h1>
    </div>
  </section>
  <section id="lunch">
    <div class="content inactive">
      
    </div>
  </section>
  <section id="drinks">
    <div class="content inactive">
      
    </div>
  </section>
</div>
