.close {
  color: red;
  font-size: $fs-400;
  font-family: $ff-cross;
  font-weight: 400;
  position: absolute;
  top: 2vw;
  right: 5vw;
  z-index: 3;
  opacity: 0;
  cursor: pointer;
}

.close.active {
  animation: fade_in .4s forwards;
}

.close[closing] {
  animation: fade_out .25s forwards;
}

.close.hidden {
  @extend %hidden;
}