// // --- [LABELS] --- //
// .labels {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   // grid-template-rows: 50vh 50vh;
//   justify-items: center;
//   align-items: center;
// }

.page-label {
  @extend %page-label;
 }

// -- [LOGO] -- //
.logo {
  background: #222;
  width: $logo-width;
  position: absolute;
  z-index: 3;
  transform: 
    translateX(calc(min(50vw, math.div($viewport-max, 2)) - math.div($logo-width, 2))) 
    translateY(calc(50vh - math.div($logo-width, 2) * $logo-aspect-ratio));
}

.logo.page-view {
  transform:
    translateX(calc(min(50vw, math.div($viewport-max, 2)) - math.div($logo-width, 2)))  
    scaleX(.75)
    scaleY(.75);
}

// --- [PAGES] --- //
.pages {
  width: 100%;
  height: 100vh;
}

.page {
  @extend %page-btn;
}
.page.top.right {
  @extend %top-right;
}
.page.bottom.left {
  @extend %bottom-left;
}
.page.bottom.right {
  @extend %bottom-right;
}

// --- [PAGE: CLICK] --- //
// top-left
.page.top.left.active {
  @extend %page-active;
}
.page.top.left.inactive {
  @extend %page-inactive;
}
// top-right
.page.top.right.active {
 @extend %page-active;
}
.page.top.right.inactive {
  @extend %page-inactive;
 }
//bottom-left
.page.bottom.left.active {
 @extend %page-active;
}
.page.bottom.left.inactive {
  @extend %page-inactive;
 }
//bottom-right
.page.bottom.right.active {
 @extend %page-active;
}
.page.bottom.right.inactive {
  @extend %page-inactive;
 }

// --- [PAGE: HOVER] --- //
// .page.top.left:hover {
//   background: rgb(203, 108, 108, 0.8);
// }
// .page.top.right:hover {
//   background: rgb(203, 108, 108, 0.8);
// }
// .page.bottom.left:hover {
//   background: rgb(203, 108, 108, 0.8);
// }
// .page.bottom.right:hover {
//   background: rgb(203, 108, 108, 0.8);
// }
.page.top.left:hover > span {
  @extend %hover;
  @extend %hover-color;
  transform: translate(-50%, -50%);
}
.page.top.right:hover > span  {
  @extend %hover;
  @extend %hover-color;
  transform: translate(-50%, -50%);
}
.page.bottom.left:hover > span {
  @extend %hover;
  @extend %hover-color;
  transform: translate(-50%, -50%);
}
.page.bottom.right:hover > span {
  @extend %hover;
  @extend %hover-color;
  transform: translate(-50%, -50%);
}

// --- [PAGE-LABEL TRANSITIONS] --- //
.fade-up {
  > span {
    transform: translate(-50%, -300%);
  }
}
.fade-down {
  > span {
    transform: translate(-50%, 200%);
  }
}
.fade-left {
  > span {
    transform: translate(-300%, -50%);
  }
}
.fade-right {
  > span {
    transform: translate(200%, -50%);
  }
}
.fade-up.fade-left {
  > span {
    transform: translate(-300%, -300%) !important;
  }
}
.fade-up.fade-right {
  > span {
    transform: translate(200%, -300%) !important;
  }
}
.fade-down.fade-left {
  > span {
    transform: translate(-300%, 200%) !important;
  }
}
.fade-down.fade-right {
  > span {
    transform: translate(200%, 200%) !important;
  }
}