.page-label {
  @extend %page-label;
 }

// -- [LOGO] -- //
.logo {
  background: #222;
  width: $logo-width;
  position: absolute;
  z-index: 3;
  transform: 
    translateX(calc(min(50vw, math.div($viewport-max, 2)) - math.div($logo-width, 2))) 
    translateY(calc(50vh - math.div($logo-width, 2) * $logo-aspect-ratio));
}

.logo.page-view {
  transform:
    // translateX(calc(min(50vw, math.div($viewport-max, 2)) - math.div($logo-width, 2)))  
    scaleX(.75)
    scaleY(.75);
}

// --- [PAGES] --- //
.pages {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.page {
  @extend %page-btn;
}
.page.top.left {
  @extend %top-left;
  background: $color-gray;
  &[return-from="menu-btn"] {
    animation: label_fade_in_left .4s forwards;
  }
}
.page.top.right {
  @extend %top-right;
}
.page.bottom.left {
  @extend %bottom-left;
}
.page.bottom.right {
  background: $color-gray;
  @extend %bottom-right;
}

// --- [PAGE: CLICK] --- //
// top-left
.page.top.left.active {
  @extend %page-active;
}
.page.top.left.inactive {
  @extend %hidden;
}
// top-right
.page.top.right.active {
  @extend %page-active;
}
.page.top.right.inactive {
  @extend %hidden;
 }
//bottom-left
.page.bottom.left.active {
  @extend %page-active;
}
.page.bottom.left.inactive {
  @extend %hidden;
 }
//bottom-right
.page.bottom.right.active {
  @extend %page-active;
}
.page.bottom.right.inactive {
  @extend %hidden;
 }

// --- [PAGE: HOVER] --- //

.page.top.left:hover > span {
  @extend %hover-color;
}
.page.top.right:hover > span  {
  @extend %hover-color;
}
.page.bottom.left:hover > span {
  @extend %hover-color;
}
.page.bottom.right:hover > span {
  @extend %hover-color;
}

// --- [PAGE-LABEL TRANSITIONS] --- //
.fade-up {
  opacity: 0;
  > span {
    animation: label_fade_out_up $animation-duration forwards;
  }
}
.fade-down {
  opacity: 0;
  > span {
    animation: label_fade_out_down $animation-duration forwards;
  }
}
.fade-left {
  opacity: 0;
  > span {
    animation: label_fade_out_left $animation-duration forwards;
  }
}
.fade-right {
  opacity: 0;
  > span {
    animation: label_fade_out_right $animation-duration forwards;
  }
}
.fade-up-and-left {
  opacity: 0;
  > span {
    animation: label_fade_out_up_left $animation-duration forwards;
  }
}
.fade-up-and-right {
  opacity: 0;
  > span {
    animation: label_fade_out_up_right $animation-duration forwards;
  }
}
.fade-down-and-left {
  opacity: 0;
  > span {
    animation: label_fade_out_down_left $animation-duration forwards;
  }
}
.fade-down-and-right {
  opacity: 0;
  > span {
    animation: label_fade_out_down_right $animation-duration forwards;
  }
}
