// --- [MENU OPTIONS] --- //
#menu-options {
  width: 90%;
  margin: 1.6rem 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: calc(25vh + 5vh);
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
#menu-options[closing] {
  animation: slide-out-right 0.25s forwards;
}
#menu-options.hidden {
  display: none;
}

.menu-option {
}

.menu-option-label {
  @extend %menu-option-label;
}

// --- [MENU PAGE] --- //
#menu {
  position: absolute;
  height: auto;
  left: 0;
  top: max(20rem, 40vh);
  left: 5%;
  gap: 4rem;
  width: 90%;
  // overflow: hidden;
}

#menu.hidden {
  @extend %hidden;
  transform: translateY(5rem);
}

// --- [MENU SECTION] --- //
.menu-section {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-section.active {
  animation: fade-in .75s forwards;
}
.menu-section.inactive {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// --- [MENU CONTENT WRAPPER] --- //
.menu-content {
  border: $menu-border-width solid #222;
  padding: calc($menu-padding-height - $menu-border-width) calc($menu-padding-width - $menu-border-width);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}

// --- [MENU CONTENT] --- //
.section-description {
  @extend %menu-paragraph;
  @extend %inline-center;
  margin-bottom: $fs-menu-h1; 
}

.menu-subsection {
  margin-bottom: 3.2rem;
}

.menu-item {
  margin-bottom: 3em;
}

.menu-section h1 {
  @extend %menu-header;
  @extend %header-center;
  font-size: $fs-menu-h1;
}
.menu-section h2 {
  @extend %menu-header;
  @extend %header-center;
  font-size: $fs-menu-h2;
  text-decoration: underline;
}

.menu-item h3 {
  @extend %menu-paragraph;
  @extend %inline-center;
  font-size: $fs-menu-p;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-subheader {
  @extend %subheader;
  @extend %menu-paragraph;
  @extend %inline-center; 
}

.menu-subtitle {
  @extend %menu-paragraph;
  @extend %inline-center; 
}
.menu-item-price {
  @extend %menu-paragraph;
  @extend %inline-center; 
  margin-bottom: .5em;
}
.menu-item-desc {
  @extend %menu-paragraph;
  @extend %inline-center; 
}

