
#menu-options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: calc(25vh + 5vh);
}
#menu-options.hidden {
  @extend %hidden;
  transform: translateX(400%);
}


.menu-option {
}

.menu-option-label {
  @extend %menu-option-label;
}


#menu {
  position: absolute;
  left: 0;
  top: 50vh;
  left: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  border: .2rem solid #222;
  justify-self: first baseline;
}

#menu.hidden {
  @extend %hidden;
}

