// --- [MENU OPTIONS] --- //
#menu-options {
  width: 90%;
  margin: 1.6rem 5% 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: calc(25vh + 5vh);
}
#menu-options.hidden {
  @extend %hidden;
  transform: translateX(400%);
}

.menu-option {
}

.menu-option-label {
  @extend %menu-option-label;
}

// --- [MENU CONTENT] --- //
#menu {
  position: absolute;
  left: 0;
  top: max(20rem, 40vh);
  left: 5%;
  gap: 4rem;
  width: 90%;
}

#menu.hidden {
  @extend %hidden;
  transform: translateY(5rem);
}

.menu-section {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: translateY(5rem);
}
.menu-subsection {
  margin-bottom: 3.2rem;
}

.menu-item {
  margin-bottom: 3em;
}

.menu-section h1 {
  @extend %menu-header;
  @extend %text-centered;
  font-size: $fs-menu-h1;
}
.menu-section h2 {
  @extend %menu-header;
  @extend %text-centered;
  font-size: $fs-menu-h2;
  text-decoration: underline;
}

.menu-item h3 {
  @extend %menu-paragraph;
  @extend %text-centered;
  font-size: $fs-menu-p;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-section.active {
  opacity: 1;
  transform: translateY(0);
}
.menu-content {
  border: $menu-border-width solid #222;
  padding: calc($menu-padding-height - $menu-border-width) calc($menu-padding-width - $menu-border-width);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5%;
}
.menu-item-price {
  @extend %menu-paragraph;
  @extend %text-centered; 
  margin-bottom: .25em;
}
.menu-item-desc {
  @extend %menu-paragraph;
  @extend %text-centered; 
}

.menu-subheader {
  @extend %subheader;
  @extend %menu-paragraph;
  @extend %text-centered; 
}

.section-description {
  @extend %menu-paragraph;
  margin-bottom: $fs-menu-h1; 
}