.sake-subheader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto 2rem;
  gap: 2ch;
  max-width: $sake-subheader-max-width;
}
.sake-column {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.sake-label, .sake-slash {
  @extend %menu-paragraph;
}