%hover-color {
  &.hover-effect {
    background: $color-black;
    color: $color-gray;
  }
}

%page-active {
  width: 100%;
  height: 100%;
}

%hidden {
  display: none;
}

%overflow-scroll {
  &.of-scroll {
    overflow-y: scroll; /* Show vertical scrollbar */
  }
}