%hover-color {
  &.hover-effect {
    background: #222;
    color: #eee;
  }
}

%page-active {
  width: 100%;
  height: 100%;
  > span {
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

%hidden {
  opacity: 0;
}

%overflow-hidden {
  &.of-hidden {
    overflow: hidden;
  }
}