%hover-color {
  &.hover-effect {
    background: #222;
    color: #eee;
  }
}

%page-active {
  width: 100%;
  height: 100%;
  > span {
    transform: translate(-50%, -50%);
  }
}

%hidden {
  display: none;
}

%overflow-hidden {
  &.of-hidden {
    overflow-y: scroll; /* Show vertical scrollbar */
  }
}