%page-btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
}

%page-label {
  color: #222;
  font-size: $fs-400 * .75;
  font-weight: 200;
  font-family: $ff-headings;
  opacity: 1;
  pointer-events: none;
  z-index:3;
}