%page-btn {
  width: 50%;
  height: 50%;
  position: relative;
  text-align: center;
}

%page-label {
  color: #222;
  font-size: $page-label-size;
  font-weight: 200;
  font-family: $ff-headings;
  opacity: 1;
  cursor: pointer;
  z-index:3;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, -50%);
}


%menu-option-label {
  font-size: $fs-300;
  font-family: $ff-headings;
  font-weight: 200;
  text-decoration: none;
  color: #222;
  padding: 0.5em 1em;
  cursor: pointer;
  &.active {
    text-decoration: underline;
  }
}
